In [19]:
import datetime

#from   mpl_finance import quotes_historical_yahoo_ochl as yahoo_data
import pandas as pd
import pandas_datareader.data as get_data

In [5]:
!ls ../../../data

IBM_monthly.csv                      or_monthly_mean_temp_1895-2019.csv
Monthly_CO2_Concentrations.csv       or_monthly_mean_temp_1895-2019.txt
inflation-consumer-prices-annual.csv

In [7]:
DATA = '../../../data'

In [8]:
x = pd.read_csv(f'{DATA}/IBM_monthly.csv')
x.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-09-01,145.979996,153.350006,144.809998,151.210007,144.157669,95867900
1,2018-10-01,151.710007,154.360001,114.089996,115.430000,110.046410,198093000
2,2018-11-01,115.500000,125.059998,114.540001,124.269997,118.474113,141718900
3,2018-12-01,125.669998,126.589996,105.940002,113.669998,109.748711,115604100
4,2019-01-01,112.010002,135.410004,111.690002,134.419998,129.782883,120387100

In [13]:
beg_date = datetime.datetime(1962, 11, 1)
end_date = datetime.datetime(2019, 9, 9)

In [20]:
#df = get_data.get_data_google('IBM', beg_date, end_date)
#df.head()