In [6]:
import numpy as np
import pandas as pd
from   sklearn.linear_model import LinearRegression
import statsmodels.api as sm
from   statsmodels.regression.linear_model import OLS

In [2]:
y = pd.Series([0.065, 0.0265, -0.0593, -0.001, 0.0346])
X = pd.DataFrame({
    'x1': [0.055, -0.09, -0.041,0.045,0.022],
    'x2': [0.025, 0.10, 0.021, 0.145, 0.012],
    'x3': [0.015, -0.08, 0.341, 0.245, -0.022]})
X['x0'] = 1
X.head()

      x1     x2     x3  x0
0  0.055  0.025  0.015   1
1 -0.090  0.100 -0.080   1
2 -0.041  0.021  0.341   1
3  0.045  0.145  0.245   1
4  0.022  0.012 -0.022   1

In [3]:
mod = OLS(y, X)
res = mod.fit()
res.params

x1    0.379623
x2    0.058881
x3   -0.234175
x0    0.033646
dtype: float64

In [4]:
mod.fit().summary()

/opt/anaconda3/lib/python3.7/site-packages/statsmodels/stats/stattools.py:71: ValueWarning: omni_normtest is not valid with less than 8 observations; 5 samples were given.
  "samples were given." % int(n), ValueWarning)

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.960
Model:                            OLS   Adj. R-squared:                  0.841
Method:                 Least Squares   F-statistic:                     8.073
Date:                Fri, 20 Dec 2019   Prob (F-statistic):              0.252
Time:                        08:08:09   Log-Likelihood:                 16.837
No. Observations:                   5   AIC:                            -25.67
Df Residuals:                       1   BIC:                            -27.24
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             0.3796      0.153      2.488      0.243      -1.559       2.319
x2             0.0589      0.160      0.368      0.775      -1.974       2.092
x3            -0.2342      0.052     -4.524      0.139      -0.892       0.424
x0             0.0336      0.013      2.518      0.241      -0.136       0.203
==============================================================================
Omnibus:                          nan   Durbin-Watson:                   0.656
Prob(Omnibus):                    nan   Jarque-Bera (JB):                0.119
Skew:                          -0.130   Prob(JB):                        0.942
Kurtosis:                       2.292   Cond. No.                         19.9
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [5]:
lr = LinearRegression()
lr.fit(X, y)
lr.intercept_, lr.coef_

(0.033645789160278335,
 array([ 0.37962297,  0.05888114, -0.234175  ,  0.        ]))

In [7]:
url = 'http://canisius.edu/~yany/data/ibm.csv'
df = pd.read_csv(url, index_col=0)
df.head()

                Open      High       Low     Close  Adj Close    Volume
Date
1962-01-01  7.713333  7.713333  7.003334  7.226666   2.077531   8760000
1962-02-01  7.300000  7.480000  7.093333  7.160000   2.058365   5737600
1962-03-01  7.186666  7.413333  7.070000  7.103333   2.042352   5344000
1962-04-01  7.100000  7.100000  6.000000  6.053333   1.740458  12851200
1962-05-01  6.053333  6.530000  4.733333  5.233333   1.504689  49307200

In [8]:
X = df[['Open', 'High', 'Volume']]
y = df['Adj Close']

In [9]:
X = sm.add_constant(X)
X.head()

/opt/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

            const      Open      High    Volume
Date
1962-01-01    1.0  7.713333  7.713333   8760000
1962-02-01    1.0  7.300000  7.480000   5737600
1962-03-01    1.0  7.186666  7.413333   5344000
1962-04-01    1.0  7.100000  7.100000  12851200
1962-05-01    1.0  6.053333  6.530000  49307200

In [10]:
res = sm.OLS(y, X).fit()
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:              Adj Close   R-squared:                       0.986
Model:                            OLS   Adj. R-squared:                  0.986
Method:                 Least Squares   F-statistic:                 1.521e+04
Date:                Fri, 20 Dec 2019   Prob (F-statistic):               0.00
Time:                        08:12:19   Log-Likelihood:                -2171.4
No. Observations:                 670   AIC:                             4351.
Df Residuals:                     666   BIC:                             4369.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -7.7324      0.425    -18.183      0.000      -8.567      -6.897
Open           0.1993      0.073      2.737      0.006       0.056       0.342
High           0.6923      0.070      9.870      0.000       0.555       0.830
Volume     -1.746e-08   3.23e-09     -5.408      0.000   -2.38e-08   -1.11e-08
==============================================================================
Omnibus:                       67.535   Durbin-Watson:                   0.378
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              357.525
Skew:                           0.241   Prob(JB):                     2.31e-78
Kurtosis:                       6.546   Cond. No.                     2.29e+08
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.29e+08. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

# Fama-French 3-Factor Model

In [14]:
DATA = '../../../data'

In [17]:
X = pd.read_pickle(f'{DATA}/ffMonthly.pkl')
X.head()

        MKT_RF     SMB     HML      RF
192607  0.0296 -0.0230 -0.0287  0.0022
192608  0.0264 -0.0140  0.0419  0.0025
192609  0.0036 -0.0132  0.0001  0.0023
192610 -0.0324  0.0004  0.0051  0.0032
192611  0.0253 -0.0020 -0.0035  0.0031